body {
    background-color: #CC5500;
    color: #191919;
}
div {
    margin: 50px 200px;
    padding: 10px 50px;
    border: 2px solid;
    border-radius: 50px;
}
.mainTitle {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 45px;
    color: #B2BEB5;
}